.hidden {
    display: none;
}
/* Style général du conteneur de jeu */
#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

/* Style pour le conteneur de la grille */
#conteneur {
    display: grid;
    grid-template-columns: repeat(7, 60px); /* 7 colonnes de 60px */
    grid-template-rows: repeat(6, 60px);    /* 6 lignes de 60px */
    gap: 5px; /* Espace entre les cases */
    margin-top: 20px;
}
